@charset "utf-8";
body{
    background: black;
    overflow: hidden;
}
#wrap{
    width: 113px;
    height: 200px;
    transform-style:preserve-3d;
    margin: 200px auto;
    position: relative;
    transform: perspective(900px) rotateX(-10deg);
}
#wrap img{
    position: absolute;
    top:0;
    left: 0;
    transform: rotateY(0deg);
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
    -webkit-box-reflect:below 8px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
}
